Flask==2.3.3
flask-cors==3.0.10
msal==1.32.3
pyodbc==5.2.0
#pandas==2.2.2
pandas
azure-ai-formrecognizer==3.3.3
azure-core==1.30.2
azure-storage-blob==12.23.0
Pillow==10.4.0
opencv-python-headless==4.10.0.84
ultralytics==8.3.187
easyocr==1.7.1
shapely==2.0.6
neo4j==5.24.0
snowflake-connector-python==3.12.1
python-dotenv==1.0.1
requests==2.32.3
PyJWT==2.9.0
cryptography==43.0.0
numpy==1.26.4
gunicorn==20.1.0
openpyxl==3.1.5
azure-functions==1.20.0
opencensus-ext-azure==1.1.9
apscheduler
PyMuPDF==1.24.2
openai
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.4.1+cpu